```{=html}
<ul class="list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <a href="<%- item.url %>" class="listing-title"><%= item.title %></a>
    <p>
      <strong><span class="listing-author"><%= item.author %><span> </strong> | <span class="listing-date"><%= item.date %><span> 
      <br/>
      <span class="listing-description"> <%= item.description %> <span><br/>
    </p>
  </li>
<% } %>
</ul>
```