```{=html}
<ul class="list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <a href="<%- item.url %>" class="listing-title"><%= item.title %></a>
    <br/>
    <span class="listing-description"> <%= item.description %> <span><br/>
    <br/>

    <span class="listing-author"><%= item.author %><span>, <span class="listing-date"><%= item.date %><span>

  </li>
<% } %>
</ul>
```